@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
@layer base {
  html,
  body,
  * {
    font-family: "Poppins", serif;
  }
}

img {
  width: 100%;
}
.btn {
  width: 100%;
  max-width: 136px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 0 5px;
  @media (min-width: 1280px) {
    max-width: 180px;
    height: 52px;
    font-size: 16px;
    margin: 0 10px;
  }
}
.banner-btn--neon {
  background: linear-gradient(90deg, #0054aa 0%, #0088cc 51%, #564787 100%);
  border: 1px solid;
  box-shadow: 2px 0px 10px 3px rgba(255, 255, 255, 0.4) inset;

  border-image-source: linear-gradient(
    90deg,
    #0054aa 0%,
    #0088cc 51%,
    #564787 100%
  );
}
.banner-btn--black {
  background: rgba(17, 17, 17, 1);
  border: 1px solid var(--bg_Ton, rgba(251, 249, 241, 1));
}

.banner-title {
  width: 830px;
  height: 162px;
  font-size: 54px;
  font-weight: 600;
  color: white;
}

.pos-review {
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.1);
}
